<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>서비스 소개</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">
    <script src="sweetalert2/dist/sweetalert2.min.js">

    <script> function sending(){  } </script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <!-- Header -->
    <!-- Portfolio Grid Section -->
     <!-- About Section -->

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
	<br><br>
        <h2 class="text-center"><b>감기 위험도 예측 서비스<b></h2>
	<br>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="contactForm" novalidate>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
	            <br><br>
                <h3>감기에 영향을 주는 8가지 기상요소를 기반으로 <br><br> 감기환자의 수를 예측하여 감기 위험도를 판단해줍니다.<h3>
	   <h6>　</h6>
	   <h6> ※ 위험도는 개인별로 다를 수 있으니 정확한 결과를 원하시면 개인용 서비스를 이용해주세요.<h6>
                <br><br><br>
                <h3>감기위험도는 최저기온, 최고기온, 일교차, 습도, 기압, <br><br> 미세먼지, 강수량, 구름량의 기상요소에 Naive Bayes를 <br><br>적용시켜 감기의 위험도를 판단합니다.</h3>
                <br><br><br>
                <h6>팀명 : 뚝배기 스쿼드<br><br>팀원 : 김현준, 이관호, 이원찬, 정진선 <br><br> 연락처 : quwieo@ajou.ac.kr</h6>
                        
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <!-- Portfolio Modals -->
  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <!-- Contact Form JavaScript -->
    <!-- Custom scripts for this template -->

    <script type="text/javascript"> function sending(){swal({ position: 'middle',  type: 'success',  title: '신청이 완료되었습니다!', })} swal.close();</script>
  </body>

</html>
